<h2>GraphMaker#index</h2>
<img src='<%= url_for :controller => 'graph_maker', 
                      :action => 'get_graph',
                      :project_id => @project.identifier %>' >
                     debug == <%= @dedebug %>
