<h2>直近1ヶ月分の日時別傾向分析グラフ</h2>
<p>
  このグラフは、直近１ヶ月分のデータの内、チケット作成日付を日にち/時間帯/曜日毎に集計したものです。
  <br />
  ● 直近のチケット発生タイミングの傾向を分析する事ができます。
</p>

<h4>日にち毎のチケット件数</h4>
<img src='<%= url_for :controller => 'graph_maker', 
                      :action => 'get_trend_graph',
                      :project_id => @project.identifier,
                      :each_by => 'day',
                      :graph_variation => 'Bar' %>' >

<h4>時間帯毎のチケット件数</h4>
<img src='<%= url_for :controller => 'graph_maker', 
                      :action => 'get_trend_graph',
                      :project_id => @project.identifier,
                      :each_by => 'hour',
                      :graph_variation => 'Bar' %>' >

<h4>曜日毎のチケット件数</h4>
<img src='<%= url_for :controller => 'graph_maker', 
                      :action => 'get_trend_graph',
                      :project_id => @project.identifier,
                      :each_by => 'wday',
                      :graph_variation => 'Bar' %>' >

