<h2>チケット発生件数長期的推移分析グラフ</h2>
<p>
  このグラフは、１年間あたりに作成されるチケット件数を月毎に集計したものです。
  <br />
  ● 長期的なチケット発生件数の推移を分析する事ができます。
</p>

<% ((DateTime.now.year - 2)..(DateTime.now.year)).reverse_each do |year| %>
<h4><%= year %></h4>
<img src='<%= url_for :controller => 'graph_maker', 
                      :action => 'get_long_graph',
                      :project_id => @project.identifier,
                      :year => year %>' >
<% end %>

