<h2>傾向分析用グラフ</h2>
<h4>Menu</h4>
<ul>
  <li>直近３０日の日時別傾向分析（項目固定）
    <ul>
      <li>時間帯別傾向分析</li>
      <li>曜日別傾向分析</li>
      <li>日にち別傾向分析</li>
    </ul>
  </li>
  <li>カスタムクエリ毎のグループ条件別傾向分析（項目可変）</li>
</ul>

<hr/>

<h2>直近３０日の日時別傾向分析（項目固定）</h2>

<h4>時間帯別</h4>
<img src='<%= url_for :controller => 'graph_maker', 
                      :action => 'get_monthly_graph',
                      :project_id => @project.identifier,
                      :each_by => 'hours' %>' >
<h4>曜日別</h4>
上記と同じようなグラフをx軸を「曜日」単位で表示する予定
<h4>日にち別</h4>
上記と同じようなグラフをx軸を「日にち(1日から31日)」単位で表示する予定

<br/><br/>

<h2>２．カスタムクエリ毎の傾向分析（カスタム）</h2>
<p>
このプロジェクトで使用している
カスタムクエリ毎の「グループ条件」を元にグラフを描写しています。
<br/>
なので、もし、追加修正したければ、カスタムクエリを編集する事により、その内容が反映。
</p>
<% @queries.each do |query| %>
<h4><%= query.name %></h4>
<img src='<%= url_for :controller => 'graph_maker', 
                      :action => 'get_trend_graph',
                      :project_id => @project.identifier,
                      :query_id => query.id %>' >
<% end %>


